/* background and container */

/* background obtained from https://www.toptal.com/designers/subtlepatterns/ */
.body {
  background-image: url("../img/background.png");
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 95%;
  margin: auto;
  flex-wrap: wrap;
}

/* header and header information */
.header {
  font-family: Raleway, Times;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  flex-wrap: wrap;
  flex-direction: column;
}

.header-button {
  margin: 3px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.header-information {
  margin: 3px;
}

.header-stars {
  margin-top: 3px;
  margin-bottom: 6px;
  font-size: 26px;
}

.star {
  background:-moz-linear-gradient(top, #ffffe6 0%, #f28809 100%); 
  background: -webkit-linear-gradient(top, #ffffe6 0%,#f28809 100%); 
  background: linear-gradient(to bottom, #ffffe6 0%,#f28809 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.label {
  padding-right: 2px;
  font-weight: bold;
  font-size: 16px;
}

.value {
  padding: 5px;
}

/* Card deck */
.cards {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  width: 500px;
  height: 500px;
  background-image: linear-gradient(#edeae7, #504d4c);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24%;
  height: 24%;
  background-color: white;
}

.card-closed {
  visibility: hidden;
}

.fas {
  font-size: 20px;
}

.fa-tree {
  color: darkgreen;
}

.fa-dove {
  color: lightblue;
}

.fa-feather-alt {
  color: #f6c;
}

.fa-cat {
  color: #db9a2b;
}

.fa-music {
  color: red;
}

.fa-shopping-cart {
  color: #00f;
}

.fa-toilet-paper {
  color: #fcf;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  font-family: Raleway, Times;
  width: auto;
  max-width: 95%;
  max-height: 95%;
  overflow-y: scroll;
  position: relative;
  margin: auto;
  background-image: url("../img/border.png");
  background-size: 100% 100%;
  background-color: white;
}

.modal-information {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}

.modal-text {
  margin-block-end: 1px;
}

.is-hidden {
  visibility: hidden;
}

.modal-button {
  margin: 3px;
  font-size: 13px;
}

.menu-information {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px;
  padding: 0;
}

/* animations */

.rotate-scale-up {
	-webkit-animation: rotate-scale-up 0.65s linear both;
	        animation: rotate-scale-up 0.65s linear both;
}

.puff-out-center {
	-webkit-animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-12-14 19:37:31
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-12-17 17:12:1
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-out-center
 * ----------------------------------------
 */
 @-webkit-keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
}
@keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
}

/* media queries */
@media screen and (max-height: 550px) {

  .cards {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-height: 450px) {

  .cards {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 550px) {

  .cards {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 450px) {

  .cards {
    width: 300px;
    height: 300px;
  }

  .header {
    width: 300px;
  }
}

@media screen and (max-width: 350px) {

  .cards {
    width: 200px;
    height: 200px;
  }

  .header {
    width: 200px;
  }
}
